.cover-page .header {
  background-color: transparent;
  height: 100vh;
}

.cover-page .header .section-marker,
.cover-page .header .section-marker-white {
  width: 80px;
  height: 80px;
}

.projects {
  background-color: whitesmoke;
}

.projects .section-marker,
.projects .section-marker-white {
  margin-bottom: 50px;
}

.projects .content {
  padding: 15px;
}

.projects .subtitle {
  color: #003A85;
  text-transform: uppercase;
  text-align: center;
}

.projects img {
  border-radius: 5px;
  border: 5px #ffffff solid;
}

.pitch {
  background-image: url("/img/feature-bg@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #004290;
}

.feature-text {
  font-size: 3.8rem;
  font-size: 38px;
  color: #004290;
}

.about {
  color: #ffffff;
  background-color: #004290;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23003f89' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
}

.about p {
  text-align: justify;
  color: #DCECFF;
  line-height: 1.7;
}

.about p.is-size-3 {
  line-height: 1.5;
}

.about .button {
  color: #004290;
  font-size: 13px;
}

.footer {
  background-color: transparent;
  color: #3b3b3b;
}

.section-marker,
.section-marker-white {
  height: 100px;
  width: 100px;
  background-color: #004290;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: middle;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
}

.section-marker-white {
  background-color: #ffffff;
  color: #004290;
}

.feature-text {
  font-family: 'Merriweather', serif;
}

.button {
  border-radius: 30px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  height: 100%;
}

.post-section {
  background-color: #fff;
}

a.back-to-top .im {
  color: rgba(253, 253, 253, 0.77);
}

